<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470412771179-4afj6soovudj49r2tq1o14f7no89m2qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470412771179-4afj6soovudj49r2tq1o14f7no89m2qk</string>
	<key>API_KEY</key>
	<string>AIzaSyCMCRSnWndFBhzBjaw_9AVucmLk9H7znRc</string>
	<key>GCM_SENDER_ID</key>
	<string>470412771179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starterProjectFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-starter-6f492</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-starter-6f492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470412771179:ios:a507326c88ba764a2fd62e</string>
</dict>
</plist>